<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>Shop</title>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          function buttoncheck(name){
            var radios = document.getElementsByName(name);
            for (var i = 0, len = radios.length; i < len; i++) {
              if (radios[i].checked) {
                return true;
              }
            }
            return false;
          }

          document.querySelector("#pizzabutton").onclick = () => {

            //checks that a size has been selected
            if(!buttoncheck('size')){
              alert('Select a size for the pizza')
              return;
            }

            if(!buttoncheck("type")){
              alert('Select a type for the pizza')
              return;
            }


            const request = new XMLHttpRequest();
            request.open('POST','/addtocart')

            request.onload = () => {
              const data = JSON.parse(request.responseText)
              if(data.success){
                alert("Successful order!")
              }
            }

            const data = new FormData();
            data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            data.append('size',document.querySelector("input[name=size]:checked").value)
            data.append('type',document.querySelector("input[name=type]:checked").value)
            data.append('topping1',document.querySelector("#pizzatopping1").value)
            data.append('topping2',document.querySelector("#pizzatopping2").value)
            data.append('topping3',document.querySelector("#pizzatopping3").value)
            
            request.send(data);

            return false
          }
        })
    </script>

    <style>
      div {
        display: flex;
        flex-wrap: wrap;
        border : black 1px solid;
      }
    </style>
  </head>
  <body>

    <h2>Pizza</h2>
    <div class="pizza">

      <div id="pizzaform">
        {% csrf_token %}
        <h4>Size</h4>
        <input type="radio" name="size" value="S"> Small <br>
        <input type="radio" name="size" value="L"> Large

        <h4>Type</h4>
        <input type="radio" name="type" value="R"> Regular <br>
        <input type="radio" name="type" value="S"> Sicilian



        {% for i in '123'|make_list %}
        <h6>Topping {{ i }}</h6>
          <select id="pizzatopping{{i}}">
            <option value=''>No topping</li>
            {% for topping in pizzatoppings %}
              <option value= '{{ topping }}'>{{ topping }}</li>
            {% endfor %}
          </select>
        {% endfor %}
        <button id="pizzabutton">Add to shopping cart!</button>

      </div>
    </div>

    <div class="subs">
      <h4>Size</h4>
      <input type="radio" name="size" value="S"> Small <br>
      <input type="radio" name="size" value="L"> Large

      <h6>Select a main toppings</h6>

      <select>
        {% for topping in submaintoppings %}
          <option value="topping">{{ topping }}</li>
        {% endfor %}
      </select>

      <h6>Added some other toppings</h6>

      <select>
        {% for topping in subsubtoppings %}
          <option value="topping">{{ topping }}</li>
        {% endfor %}
      </select>
    </div>
  </body>
</html>
